// 
// Colors
// 

//- Override and add to color system
$teal: #0099ff;
$dark-blue: #2c3e50;

//- Override primary color
$primary: $teal;
$secondary: $dark-blue;

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 2.4;
